{% from 'macro_dpv_document_family.jinja2' import dpv_document_family, sotd, funding_acknowledgements, contributors_list, authors_list %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Guide for using DPV with ODRL</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
   // All config options at https://respec.org/docs/ 
   var respecConfig = {
    shortName: "guide-dpv-odrl",
    title: "Guide for using DPV with ODRL",
    subtitle: "Work in Progress",
    publishDate: "2025-01-16",
    specStatus: "CG-DRAFT",
    group: "dpvcg",
    latestVersion: "https://w3id.org/dpv/guides/dpv-odrl",
    canonicalUri: "https://w3id.org/dpv/guides/dpv-odrl",
    edDraftURI: "https://dev.dpvcg.org/guides/dpv-odrl",
    github: "w3c/dpv",
    subjectPrefix: "[dpv]",
    doJsonLd: true,
    lint: { "no-unused-dfns": false },
    editors: [{
      name: "Harshvardhan J. Pandit",
      url: "https://harshp.com",
      "company": "{{ "Harshvardhan J. Pandit" | generate_author_affiliation }}"
    }],
    otherLinks: [
      {
        "key": "Key Publications",
        "data": [
            {
              "value": "Data Privacy Vocabulary (DPV) -- Version 2.0 (2024)",
              "href": "https://doi.org/10.1007/978-3-031-77847-6_10"
            }
        ]
      }
    ],
    localBiblio: {%  include 'references.json' %}
  };
</script>
<link rel="stylesheet" type="text/css" href="../diagrams/common.css">
<link rel="shortcut icon" href="../diagrams/favicon-16x16.png" type="image/x-icon" sizes="16x16" />
  <link rel="shortcut icon" href="../diagrams/favicon-32x32.png" type="image/x-icon" sizes="32x32" />
</head>
<body>
<section id="abstract">
    <p>This document will provide a guide for using DPV with ODRL. Currently, it is a work in progress.</p>
    <aside class="issue" data-number="130"></aside>
</section>
      {{ sotd(DPV_VERSION=DPV_VERSION) }}
    {{ dpv_document_family('guide-dpv-odrl') }}

<section id="namespaces">
  <h3>Namespaces</h3>
    <p>The following namespaces and prefixes are used throughout this document:</p>
    <table>
        <thead><tr><th>prefix</th><th>URI</th></tr></thead>
        <tbody>
            <tr><td>dpv</td> <td><a href="https://w3id.org/dpv">https://w3id.org/dpv#</a></td></tr>
            <tr><td>ai</td> <td><a href="https://w3id.org/dpv/ai">https://w3id.org/dpv/ai#</a></td></tr>
            <tr><td>pd</td> <td><a href="https://w3id.org/dpv/pd">https://w3id.org/dpv/pd#</a></td></tr>
            <tr><td>loc</td> <td><a href="https://w3id.org/dpv">https://w3id.org/dpv/loc#</a></td></tr>
            <tr><td>tech</td> <td><a href="https://w3id.org/dpv">https://w3id.org/dpv/tech#</a></td></tr>
            <tr><td>eu-gdpr</td> <td><a href="https://w3id.org/dpv/legal/eu/gdpr">https://w3id.org/dpv/legal/eu/gdpr#</a></td></tr>
            <tr><td>dcterms</td> <td><a href="http://purl.org/dc/terms">http://purl.org/dc/terms/</a></td></tr>
            <tr><td>dcat</td> <td><a href="http://www.w3.org/ns/dcat#">http://www.w3.org/ns/dcat#</a></td></tr>
            <tr><td>odrl</td> <td><a href="http://www.w3.org/ns/odrl/2/">http://www.w3.org/ns/odrl/2/</a></td></tr>
            <tr><td>dpv-odrl</td> <td><a href="https://w3id.org/dpv/odrl">https://w3id.org/dpv/odrl#</a></td></tr>
            <tr><td>xsd</td> <td><a href="http://www.w3.org/2001/XMLSchema#">http://www.w3.org/2001/XMLSchema#</a></td></tr>
            <tr><td>ex</td> <td><a href="https://example.com">https://example.com/</a></td></tr>
        </tbody>
    </table>
</section>

<section id="introduction">
  <h2>Introduction</h2>
  <section>
    <h3>ODRL</h3>
    <p>
      The [[[ODRL-MODEL]]] recommendation is a W3C standard for the expression of policies regarding the usage of data and services.
      It allows the representation of rules (e.g., permissions, prohibitions, and obligations) in a domain-agnostic manner.
      These rules allow, deny, or oblige parties to perform actions over assets, which can be further restricted using
      constraints and duties.
    </p>
  </section>
  <section>
    <h3>Advantages of using DPV and ODRL</h3>
    <p>
      Since ODRL is a domain-agnostic policy language, DPV can be used as a controlled vocabulary for invoking privacy and 
      data protection-specific terms within deontic logic-based policies.
    </p>
  </section>
</section>

<section id="alignment">
  <h2>Alignment with ODRL</h2>
  <section>
    <h3>Mapping: DPV x ODRL terms</h3>
    <p>
      The mapping of how each DPV term should be used within an ODRL policy is being developed by the DPVCG at 
      <a href="https://w3id.org/dpv/mappings/odrl#" target="_blank">https://w3id.org/dpv/mappings/odrl#</a>,
      following the best practices documented in the
      <a href="https://w3c.github.io/odrl/profile-bp/" target="_blank">ODRL V2.2 Profile Best Practices</a> report.
      This mapping is also represented in machine-readable form as an ODRL profile.
    </p>
    <p>
      The following subsections provide examples of ODRL policies that use the developed mapping.
    </p>
  </section>
  <section>
    <h3>Entities</h3>
    <p>DPV entities can be used as assigners or assignees of ODRL policies, as well as a left operand to filter ODRL party collections.</p>
     <aside class="example" title="Example specifying a DPV data controller as the assigner of an ODRL Policy.">
      <pre><code>
        ex:policy-entity a odrl:Policy ;
          odrl:uid ex:policy-entity ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner ex:DataController ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Purpose ;
              odrl:operator odrl:isA ;
              odrl:rightOperand dpv:PaymentManagement ] ] .

        ex:DataController a dpv-odrl:DataController .
      </code></pre>
    </aside>
    <aside class="example" title="Example specifying an ODRL party collection refinement using DPV entity terms.">
      <pre><code>
        ex:policy-partycollection a odrl:Policy ;
          odrl:uid ex:policy-partycollection ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner [ 
              a odrl:PartyCollection ;
              odrl:source ex:entities ;
              odrl:refinement [
                  odrl:leftOperand dpv-odrl:Entity ;
                  odrl:operator odrl:isA ;
                  odrl:rightOperand dpv:AcademicScientificOrganisation ] ] ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Purpose ;
              odrl:operator odrl:isA ;
              odrl:rightOperand dpv:PaymentManagement ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Processing</h3>
    <p>
      DPV processing operations can be used as actions of ODRL policies,
      which can be further restricted using constraints, 
      e.g., <code>dpv-odrl:Location</code> as a left operand to restrict processing to a certain location.
    </p>
    <aside class="example" title="Example specifying that usage of asset should be done in Belgium.">
      <pre><code>
        ex:policy-actionrefinement a odrl:Policy ;
          odrl:uid ex:policy-actionrefinement ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:action [ 
              rdf:value dpv-odrl:Use ;
              odrl:refinement [
                  odrl:leftOperand dpv-odrl:Location ;
                  odrl:operator odrl:eq ;
                  odrl:rightOperand loc:BE ] ] ;
            odrl:target dpv-odrl:BankAccount ;
            odrl:assigner ex:entity ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Data</h3>
    <p>
      DPV data and personal data types can be used as assets of ODRL policies, as well as a left operand to filter ODRL asset collections.
    </p>
    <aside class="example" title="Example specifying an ODRL asset collection refinement using DPV data terms.">
      <pre><code>
        ex:policy-assetcollection a odrl:Policy ;
          odrl:uid ex:policy-assetcollection ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:target [ 
              a odrl:AssetCollection ;
              odrl:source ex:data-catalog ;
              odrl:refinement [
                odrl:leftOperand dpv-odrl:PersonalData ;
                odrl:operator odrl:isA ;
                odrl:rightOperand pd:HealthRecord ]] ;
            odrl:assigner ex:entity ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Purpose ;
              odrl:operator odrl:isA ;
              odrl:rightOperand dpv:ResearchAndDevelopment ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Technologies</h3>
    <p>
      DPV's technology concepts, including AI systems and models terms, can be used as assets of ODRL policies, as well as a left operand to restrict the usage of a certain asset to a particular type of technology.
    </p>
    <aside class="example" title="Example specifying that usage of an asset should be done using an AI system.">
      <pre><code>
        ex:policy-techconstraint a odrl:Policy ;
          odrl:uid ex:policy-techconstraint ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner ex:entity ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Technology ;
              odrl:operator odrl:isA ;
              odrl:rightOperand ai:AISystem ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Purpose</h3>
    <p>
      DPV's purpose concepts can be used as a left operand to restrict the usage of a certain asset to a purpose, e.g., research and development.
    </p>
    <aside class="example" title="Example specifying that usage of an asset should be only for the purpose of research and development.">
      <pre><code>
        ex:policy-purpose a odrl:Policy ;
          odrl:uid ex:policy-purpose ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner ex:entity ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Purpose ;
              odrl:operator odrl:isA ;
              odrl:rightOperand dpv:ResearchAndDevelopment ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Technical and Organisational Measures</h3>
    <p>
      DPV's technical and organisational measures concepts can be used as a left operand to restrict the usage of a certain asset if there is a certain measure in place.
    </p>
    <aside class="example" title="Example specifying that usage of an asset should be granted only if there is multi-factor authentication in place.">
      <pre><code>
        ex:policy-tom a odrl:Policy ;
          odrl:uid ex:policy-tom ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner ex:entity ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:TechnicalOrganisationalMeasure ;
              odrl:operator odrl:isA ;
              odrl:rightOperand dpv:MultiFactorAuthentication ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Location</h3>
    <p>
      DPV's location concepts can be used as a left operand to restrict the usage of a certain asset to a certain location.
    </p>
    <aside class="example" title="Example specifying that usage of an asset is restricted to Belgium.">
      <pre><code>
        ex:policy-location a odrl:Policy ;
          odrl:uid ex:policy-location ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner ex:entity ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Location ;
              odrl:operator odrl:eq ;
              odrl:rightOperand loc:BE ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Laws & Legal Bases</h3>
    <p>
      DPV's law and legal basis concepts can be used as a left operand to indicate applicable laws and legal basis that justify the usage of a certain asset.
    </p>
    <aside class="example" title="Example specifying that usage of an asset requires GDPR consent.">
      <pre><code>
        ex:policy-legal a odrl:Policy ;
          odrl:uid ex:policy-legal ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner ex:entity ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Law ;
              odrl:operator odrl:eq ;
              odrl:rightOperand legal-eu:law-GDPR ], [
              odrl:leftOperand dpv-odrl:LegalBasis ;
              odrl:operator odrl:eq ;
              odrl:rightOperand eu-gdpr:A6-1-a ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Duration & Frequency</h3>
    <p>
      DPV's duration and frequency concepts can be used as a left operand to indicate how long and how many times a certain asset can be processed.
    </p>
    <aside class="example" title="Example specifying that the duration of usage of an asset cannot be determined.">
      <pre><code>
        ex:policy-duration a odrl:Policy ;
          odrl:uid ex:policy-duration ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner ex:entity ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Duration ;
              odrl:operator odrl:eq ;
              odrl:rightOperand dpv:IndeterminateDuration ] ] .
      </code></pre>
    </aside>
    <aside class="example" title="Example specifying that the usage of an asset can only occur 7 days after the previous usage.">
      <pre><code>
        ex:policy-frequency a odrl:Policy ;
          odrl:uid ex:policy-frequency ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assigner ex:entity ;
            odrl:target ex:asset ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Frequency ;
              odrl:operator odrl:eq ;
              odrl:rightOperand "P7D"^^xsd:duration ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Rights & Justifications</h3>
    <p>
      DPV's rights and justification concepts can be used as left operands to indicate applicable rights and justifications for the processing of a certain asset.
    </p>
    <aside class="example" title="Example specifying an agreement between the data subject and the data controller to exercise the GDPR right to erasure supported by a non-necessity justification.">
      <pre><code>
        ex:policy-right-erasure-justification a odrl:Agreement ;
          odrl:uid ex:policy-right-erasure-justification ;
          odrl:profile dpv-odrl: ;
          odrl:obligation [
            odrl:assigner ex:subject ;
            odrl:assignee ex:controller ;
            odrl:target ex:subject-data ;
            odrl:action dpv-odrl:Delete ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Right ;
              odrl:operator odrl:eq ;
              odrl:rightOperand eu-gdpr:A17 ], [
              odrl:leftOperand dpv-odrl:Justification ;
              odrl:operator odrl:eq ;
              odrl:rightOperand eu-gdpr:JustificationA17NonNecessity ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Risk</h3>
    <p>
      DPV's risk concepts can be used as left operands to indicate risks associated with using certain services or processing data, as well as additional risk assessment parameters such as impacts or likelihood levels.
    </p>
    <aside class="example" title="Example specifying a prohibition to use a service if instructions are not accessible.">
      <pre><code>
        ex:policy-risk a odrl:Policy ;
          odrl:uid ex:policy-risk ;
          odrl:profile dpv-odrl: ;
          odrl:prohibition [
            odrl:assignee ex:user ;
            odrl:target ex:service ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Risk ;
              odrl:operator odrl:eq ;
              odrl:rightOperand risk:InstructionsInaccessible ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Sector</h3>
    <p>
      DPV's sector concepts can be used as left operands to indicate the sector in which certain services or data can or cannot be used.
    </p>
    <aside class="example" title="Example specifying that the usage of a certain AI service is only allowed for activities in the education sector.">
      <pre><code>
        ex:policy-sector a odrl:Policy ;
          odrl:uid ex:policy-sector ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assignee ex:AIuser ;
            odrl:target ex:AIservice ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Sector ;
              odrl:operator odrl:eq ;
              odrl:rightOperand eu-aiact:EducationSector ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Status</h3>
    <p>
      DPV's status concepts can be used as left operands to indicate the status of a certain process or activity.
    </p>
    <aside class="example" title="Example specifying that the usage of a certain service is only allowed if the consent status is valid for processing.">
      <pre><code>
        ex:policy-status a odrl:Policy ;
          odrl:uid ex:policy-status ;
          odrl:profile dpv-odrl: ;
          odrl:permission [
            odrl:assignee ex:user ;
            odrl:target ex:service ;
            odrl:action dpv-odrl:Use ;
            odrl:constraint [
              odrl:leftOperand dpv-odrl:Status ;
              odrl:operator odrl:eq ;
              odrl:rightOperand dpv:ConsentStatusValidForProcessing ] ] .
      </code></pre>
    </aside>
  </section>
  <section>
    <h3>Rules</h3>
    <p>DPV's permissions, prohibitions and obligations can be mapped to ODRL's permissions, prohibitions and duties, respectively.</p>
    <aside class="example" title="Example specifying a mapping from a DPV Permission to an ODRL Permission">
      <p>A DPV permission describing the usage of bank account information for the purpose of payment management:</p>
      <pre><code>
        ex:AlphaPaymentManagement a dpv:Permission ;
          dpv:hasPersonalData pd:BankAccount ;
          dpv:hasProcessing dpv:Use ;
          dpv:hasPurpose dpv:PaymentManagement .
      </code></pre>
      <p>Can be defined as the following ODRL permission:</p>
      <pre><code>
      ex:policy-Al
      phaPaymentManagement a odrl:Permission ;
        odrl:target dpv-odrl:BankAccount ;
        odrl:action dpv-odrl:Use ;
        odrl:constraint [
          odrl:leftOperand dpv-odrl:Purpose ;
          odrl:operator odrl:isA ;
          odrl:rightOperand dpv:PaymentManagement ] ] .
      </code></pre>
    </aside>
  </section>
</section>

{% block ACKNOWLEDGEMENTS %}
<section id="funding-acknowledgements" class="notoc">
  <h2>Funding Acknowledgements</h2>

  <h3>Funding Sponsors</h3>
  {{ funding_acknowledgements() }}

  <h3>Funding Acknowledgements for Contributors</h3>
  <p>The contributions of Beatriz Esteves have received funding through the the INESData project - Infrastructure to Investigate Data Spaces in Distributed Environments at UPM, (TSI-063100-2022-0001), a project funded under the UNICO I+D CLOUD call by the Ministry for Digital Transformation and the Civil Service, in the framework of the recovery plan PRTR financed by the European Union (NextGenerationEU); and from <a href="https://solidlab.be/">SolidLab Vlaanderen</a> (Flemish Government, EWI and RRF project VV023/10), and by the imec.icon project PACSOI (HBC.2023.0752) which was co-financed by imec and VLAIO; and the<a href="https://protect-network.eu/">PROTECT ITN Project</a> from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813497.</p>
  <p>The contributions of Harshvardhan J. Pandit have been made with the financial support of Science Foundation Ireland under Grant Agreement No. 13/RC/2106_P2 at the ADAPT SFI Research Centre; and the AI Accountability Lab (AIAL) which is supported by grants from following groups: the AI Collaborative, an Initiative of the Omidyar Group; Luminate; the Bestseller Foundation; and the John D. and Catherine T. MacArthur Foundation.</p>

</section>
{% endblock ACKNOWLEDGEMENTS %}
<script type="text/javascript" src="../diagrams/common.js" defer></script>
</body>
</html>